:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --font-family-1: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --bg-color-1: black;
  --bg-color-2: rgb(31 41 55);
  --bg-color-3: rgb(107 114 128);
  --bg-color-4: rgb(16, 21, 29);

  --color-1: white;
  --color-2: rgb(156 163 175);
  --color-3: 107 114 128;
  --color-yellow: rgb(254 240 138);
  --color-pink: rgb(244 114 182);
  --color-purple: rgb(47, 21, 53);
  --color-blue: rgb(34 211 238);
  
  --search-overlay: rgba(0, 0, 0, 0.6);
}
body{
  font-family: var(--font-family-1);
  background-color: black;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
  background-color: var(--bg-color-1);
}
ul{
  list-style: none;
}
input{
  outline: none;
  border: none;
  font-family: var(--font-family-1);
}
::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: transparent!important;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}



/***** Groups ******/
.img-common{
  object-fit: cover;
  aspect-ratio: 1/1;
  max-width: calc(100vw - 48px);
}
.btn-unique{
  margin-left: -20px;
  gap: 4px;
  width: fit-content;
}
.btn-hover{
  transition: color .5s ease, background-color .5s ease;
}
.btn-hover:hover{
  color: var(--color-1);
  background-color: var(--bg-color-2);
}
.link-hover{
  transition: color .5s ease;
}
.link-hover > img{
  opacity: 0;
  transition: opacity .5s ease;
}
.link-hover:hover{
  color: var(--color-1);
}
.link-hover:hover > img{
  opacity: 1;
}
.search-overlay{
  transform: translateX(100%);
  z-index: 50;
  background-color: var(--search-overlay);
  transition: transform .001s linear .3s;
  padding-top: 150px;
}
.search-overlay.active{
  transform: translateX(0);
  transition: transform .001s linear;
}
.search-overlay > div{
  width: 100%;
  height: 100%;
  max-width: 550px;
  max-height: 390px;
  backdrop-filter: blur(16px);
  border-radius: 8px;
  background-color: rgb(var(--color-3) / 0.25);
  transition: transform .1s ease, max-height .3s ease;
  overflow: hidden;
  transform: scaleY(0);
}
.search-overlay.active > div{
  transform: scaleY(1);
}
.search-overlay .search-item{
  transition: background-color .5s ease, color .5s ease;
}
.search-overlay .search-item.hover{
  background-color: rgb(255 255 255 / 0.1);
  color: var(--color-1);
}
.img-overlay{
  filter: blur(4px);
  background-color: var(--bg-color-4);
  background-image: linear-gradient(100deg, var(--bg-color-4) 40%, var(--bg-color-3) 40%, var(--bg-color-4) 60%);
  background-size: 200% 100%;
  background-repeat: no-repeat;
  background-position-x: 180%;
  animation: shine 1.5s ease infinite;  
  opacity: 0.6;
  transition: opacity .5s ease;
}
@keyframes shine {
  to {
    background-position-x: -80%;
  }
}
.project-card{
  border: 1px solid var(--bg-color-1);
  transition: background-color .5s ease;
  background-color: rgba(0, 0, 0, 0.2);
}
.project-card:hover{
  background-color: var(--bg-color-1);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
  /* background-image: radial-gradient( circle farthest-corner at 32.7% 82.7%,  var(--bg-color-2) 8.3%, var(--bg-color-1) 79.4% ); */
}
.bg-project{
  filter: blur(4px);
  background-image: url('/project-bg5.png');
  background-size: cover;
  background-position: top;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* animation: project 50s linear infinite alternate; */
}
/* @keyframes project {
  to{
    background-position: 200% 100%;
  }
} */
.qoute{
  border-left: 4px solid var(--bg-color-2);
  padding-left: 40px;
  font-style: italic;
}
/***** Groups ******/






/***** Commons ******/
.hidden{
  display: none;
}
.block{
  display: block;
}
.flex{
  display: flex;
}
.grid{
  display: grid;
}
.relative{
  position: relative;
}
.fixed{
  position: fixed;
}
.absolute{
  position: absolute;
}
.grid-cols-3{
  grid-template-columns: 1fr 1fr 1fr;
}
.flex-col{
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}
.items-center{
  align-items: center;
}
.justify-between{
  justify-content: space-between;
}
.justify-around{
  justify-content: space-around;
}
.justify-center{
  justify-content: center;
}
.overflow-hidden{
  overflow: hidden;
}
.overflow-y-hidden{
  overflow: hidden;
}
.overflow-x-scroll{
  overflow-x: scroll;
}
.m-auto{
  margin: 0 auto;
}
.p-8{
  padding: 8px;
}
.p-24{
  padding: 24px;
}
.p-96{
  padding: 96px;
}
.px-4{
  padding-left: 4px;
  padding-right: 4px;
}
.px-15{
  padding-left: 15px;
  padding-right: 15px;
}
.px-20{
  padding-left: 20px;
  padding-right: 20px;
}
.px-40{
  padding-left: 40px;
  padding-right: 40px;
}
.py-4{
  padding-top: 4px;
  padding-bottom: 4px;
}
.py-8{
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-12{
  padding-top: 10px;
  padding-bottom: 10px;
}
.py-20{
  padding-top: 20px;
  padding-bottom: 20px;
}
.pb-8{
  padding-bottom: 8px;
}
.pb-16{
  padding-bottom: 16px;
}
.pb-40{
  padding-bottom: 40px;
}
.pt-24{
  padding-top: 24px;
}
.border-top-1{
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.rounded-full{
  border-radius: 100%;
}
.rounded-6{
  border-radius: 6px;
}
.rounded-4{
  border-radius: 4px;
}
.gap-10{
  gap: 10px;
}
.gap-4{
  gap: 4px;
}
.gap-20{
  gap: 20px;
}
.gap-40{
  gap: 40px;
}
.w-full{
  width: 100%;
}
.w-fit{
  width: fit-content;
}
.w-screen{
  width: 100vw;
}
.h-screen{
  height: 100vh;
}
.top-0{
  top: 0;
}
.left-0{
  left: 0;
}
.max-w-800{
  max-width: 800px;
}
.max-w-1200{
  max-width: 1200px;
}
.max-w-1600{
  max-width: 1600px;
}
.font-mono{
  font-family: var(--font-mono);
}
.font-sans{
  font-family: sans-serif;
}
.font-bold{
  font-weight: bold;
}
.font-10{
  font-size: 10px;
}
.font-14{
  font-size: 14px;
}
.font-20{
  font-size: 20px;
}
.font-48{
  font-size: 48px;
}
.uppercase{
  text-transform: uppercase;
}
.text-gradient{
  background-clip: text;
  color: transparent;
}
.color-1{
  color: var(--color-1);
}
.color-2{
  color: var(--color-2);
}
.color-3{
  color: var(--bg-color-3);
}
.color-rev-1{
  color: var(--bg-color-1);
}
.color-yellow{
  color: var(--color-yellow);
}
.bg-color-3{
  background-color: var(--bg-color-3);
}
.bg-gradient-1{
  background-image: linear-gradient(to right, var(--color-blue), var(--color-1));
}
.bg-gradient-2{
  background-image: linear-gradient(to right, var(--color-blue), var(--color-pink));
}
.bg-gradient-3{
  background-image: linear-gradient(to right, var(--color-pink), var(--color-yellow));
}
.bg-gradient-4{
  background-image: linear-gradient(to right, var(--color-blue), var(--color-pink));
}
.bg-transparent{
  background-color: transparent;
}
.line-height-2{
  line-height: 2;
}
.cursor-pointer{
  cursor: pointer;
}
.opacity-0{
  opacity: 0;
}
.fade-in{
  opacity: 0;
  animation: fadeIn .5s forwards;
}
@keyframes fadeIn {
  to{
    opacity: 1;
  }
}
.brightness-7{
  filter: brightness(0.7);
}






@media (max-width: 910px) {
  .md-flex-col{
    flex-direction: column;
  }
  .p-96{
    padding: 48px;
  }
  .grid-cols-3{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 464px) {
  .sm-flex-col{
    flex-direction: column;
  }
  .sm-order-1{
    order: 1;
  }
  .sm-hide{
    display: none;
  }
  .link-hover > img{
    opacity: 1;
  }
  .grid-cols-3{
    grid-template-columns: 1fr;
  }
  .p-96{
    padding: 24px;
  }
}